.contactFormWrapper{
    width: 600px;
    margin: 20px 150px;
    input{
        margin-top: 30px;
        display: block;
        width: 100%
    }
    span{
        color: #ff0000;
        font-weight: 900;
        font-size: 14px;
    }
    .redBorder{
        border: 2px solid #ff0000;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        .delete, .cancel, .confirm{
            height: 25px;
            width: 85px;
            display: inline-block;
            cursor: pointer;
            line-height: 25px;
            text-align: center;
            border-radius: 10px;
        }
        .delete{
            color: #FFFFFF;
            background-color: #ff0000;
        }
        .buttonsCreateUser{
            .cancel{
                border: 1px solid #000000;
            }
            .confirm{
                color: #FFFFFF;
                background-color: #009900;
                margin-left: 20px;
            }
        }
    }
}