.contact{
    border: 1px solid #000000;
    padding: 5px;
    width: auto;
    height: 48px;
    position: relative;
    cursor: pointer;
    .name{
        border-bottom: 1px dashed #000000;
        font-weight: 600;
    }
    .email{
        display: block;
    }
    .close{
        width: 10px;
        height: 10px;
        border-bottom: 2px solid #000000;
        position: absolute;
        right: 10px;
        transform: translate(0%, -150%) rotate(45deg);
    }
    .close:after{
        content: '';
        width: 10px;
        height: 10px;
        border-bottom: 2px solid #000000;
        position: absolute;
        right: -5px;
        top: 5px;
        transform: rotate(90deg);

    }
}